XT_TRADER_ADDRESS=113.204.236.130:65300
XT_TRADER_USERNAME=CXTEST_1
XT_TRADER_PASSWORD=replace-with-password
# Optional. If empty, backend will request it after login.
XT_TRADER_ACCOUNT_KEY=
XT_TRADER_APP_ID=xt_api_2.0
XT_TRADER_AUTH_CODE=7f3c92e678f9ec77
XT_TRADER_MACHINE_INFO=
